/* General */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* Header */

header {
    height: 80px;
    padding: 10px 0 0 10px;
}

header img {
    vertical-align: top;
}

.text-logo {
    font-size: 40px;
}

/* Main */

main {
    background-color: #F5F8F9;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* To-do Box */

.to-do-box {
    width: 1000px;
    border-radius: 10px;
    background-color: #fff;
    margin: auto;
}

.button {
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.main-color {
    background-color: #47AEF1;
    color: #fff;
}

.secondary-color {
    border: 2px solid #D3D8DB;
    color: #D3D8DB;
}

/* Buttons section */

.buttons-section {
    border-bottom: 2px solid #F5F8F9;
    padding: 20px 50px;
}

To-do section