/* General */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #F5F8F9;
}

h1 {
    color: #444851;
    padding-bottom: 10px;
}


/* Header */

header {
    height: 80px;
    padding: 12px 0 0 20px;
    background-color: #fff;
}

header img {
    vertical-align: top;
}

.text-logo {
    font-size: 40px;
    margin-left: 5px;
}

/* Main */

main {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* To-do Box */

.to-do-box {
    width: 900px;
    border-radius: 10px;
    background-color: #fff;
    margin: auto;
}

.button {
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 900;
}

.main-color {
    background-color: #47AEF1;
    color: #fff;
}

.secondary-color {
    border: 2px solid #D3D8DB;
    color: #D3D8DB;
}

/* Buttons section */

.buttons-section {
    border-bottom: 2px solid #F5F8F9;
    padding: 20px 50px;
}

/* To-do section */

.to-do-section {
    padding: 40px 50px 0 50px;
}

.list-section {
    padding-bottom: 30px;
}

.list-item {
    margin: 10px 0 20px 0;
}


/* To-do icons */

.icon {
    border: 1px solid #000;
    padding: 2px 4px;
    border-radius: 50%;
    margin-right: 7px;
    font-size: 10px;
    vertical-align: middle;
}

.done {
    border-color: #83CDBA;
    color: #83CDBA;
}

.undone {
    border-color: #F17269;
    color: #F17269;
}

.chip {
    padding: 5px 10px;
    color: #fff;
    font-weight: 500;
    font-size: 10px;
    border-radius: 10px;
    margin-left: 5px;
    vertical-align: middle;
}

.blue {
    background-color: #46ACEA;
}

.purple {
    background-color: #9D72E4;
}

.green {
    background-color: #64C0A9;
}

.orange {
    background-color: #F29E33;
}

.pink {
    background-color: #D763A1;
}

.lime {
    background-color: #B1C925;
}